<%-include('header')-%>

<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
    
        <h1></span> Update User</h1>
        <!-- LOGIN FORM -->
        <form action="/admin/edit/<%=userId%>" method="post">
            <div class="form-group">
                <label class="fs-4">Name</label>
                <input type="text" class="form-control fs-4" name="name" value="<%=data.name%>">
            </div>

            <div class="form-group">
                <label class="fs-4">Email</label>
                <input type="email" class="form-control fs-4" name="email" value="<%=data.email%>">
            </div>
            <p class="fs-4" style="color:rgb(47, 47, 170)"></p>
            <div class="form-group">
                <label class="fs-4">Password</label>
                <input type="password" class="form-control fs-4" name="password" value="<%=data.password%>">
            </div>
            <div id="emailmsg" class="fs-4" style="color:rgb(47, 47, 170);display:none">Please fill the required</div>

            <button type="submit" class="btn btn-warning btn-lg fs-4">Update</button>
        </form>
    </div>
    </div>

  <script src="/static/validate-signup.js"></script>


<%-include('footer')-%>